:root {
  --primary-color: #dec2ba;
}

body {
  position: relative;
}

.cover-photo {
  min-height: calc(100vh - 80px);
}

.overlay-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #2d3748 23%, rgba(255, 255, 255, 0) 100%);
  top: 0;
  left: 0;
}

.btn {
  z-index: 1;
  position: relative;
  overflow: hidden;
  display: inline-flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 12px 30px;
  border-radius: 30px;
}
.btn-primary {
  background-color: var(--primary-color);
  color: #1e1e1e;
}

.btn-animated {
  animation: pulseAnimation 0.8s infinite;
}

.social-overlay-button {
  bottom: 5%;
  right: 5%;
}

.service-section {
  background-color: #f0e8e8;
}

.service-section img {
  height: 300px;
  object-fit: cover;
  border-radius: 30px 30px 100px 100px;
}

.service-section .card {
  position: relative;
  margin-bottom: 12rem;
  /* box-shadow: 15px 15px 10px 0px rgba(0, 0, 0, 0.5); */
}

.service-desc {
  background-color: var(--primary-color);
  padding: 20px;
  height: 250px;
  width: 90%;
  text-align: justify;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%);
  border-radius: 15px;

  h5 {
    text-align: center;
    height: 45px;
  }
}

.why-choose-us-section,
.contactUs-section {
  background-color: #dec2baa6;
}

@keyframes pulseAnimation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
